.sponsors-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .sponsor {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffd700;
  }
  
  .sponsor img {
    max-width: 100%;
    border-radius: 5px;
  }